ENQUIRY_BASE_URL=https://dir.indiamart.com
ENQUIRY_SEARCH_TERM=hat
ENQUIRY_ALL_INDIA_SEARCH_TERM=headphones
ENQUIRY_IMPCAT_URL=https://dir.indiamart.com/impcat/denim-clothing.html
ENQUIRY_PDP_URL=https://www.indiamart.com/proddetail/oppo-mobile-phones-2851972054933.html
ENQUIRY_COMPANY_URL=https://www.indiamart.com/raghavendraagency-hyderabad/
ENQUIRY_SHEET_NAME=Buyer Automation
ENQUIRY_SHEET_TAB=ENQ
ENQUIRY_LOG_TO_SHEET=true
ENQUIRY_LOGIN_PHONE=9643193481
ENQUIRY_LOGIN_OTP=1956
HEADLESS=true

NEXT_PUBLIC_API_BASE_URL=/qa-ai-agent/api
