AUTOMATION_HEADLESS=1
AUTOMATION_SLOW_MO=0
AUTOMATION_BROWSERS=chromium,firefox
AUTOMATION_GOOGLE_LOGGING_ENABLED=1
AUTOMATION_ENQ_MOBILE_NUMBER=
AUTOMATION_ENQ_LOGIN_OTP=
AUTOMATION_BMC_LOGIN_PHONE=
AUTOMATION_BMC_LOGIN_OTP=
AUTOMATION_BMC_SESSION_FILE=
AUTOMATION_AUTH_SESSION_FILE=
